.container{
    color:rgb(65, 39, 39)
}

.MuiPaper-root.MuiCard-root.makeStyles-root-1.MuiPaper-elevation1.MuiPaper-rounded {
    margin: 35px;
}
.title  

{  

        margin-bottom: 20px;  
        padding:20px  

}  

.img  

{  

        height: 260px;width:100%  

}  